.list {
  flex: 1;
  display: flex;

  .listContainer {
    flex: 11;
    flex-direction: column;
    height: 80px;

    .bodyContainer {
      display: flex;
      flex: 1;
      padding: 20px;
      gap: 20px;

      .records {
        display: flex;
        flex: 1;
        flex-direction: column;

        .topbar {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          span,
          .addicon {
            display: flex;
            flex: 1;
            letter-spacing: 1px;
            color: rgb(0, 134, 187);
            font-weight: 500;
          }

          .addicon {
            cursor: pointer;
          }
        }

        .recordsbody {
          display: flex;
          flex: 1;
          height: 50vh;

          .datatable {
            display: flex;
            flex: 1;
          }
        }

        hr {
          display: flex;
        }
      }
    }
  }
}
