.appointments {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 3vh;

  .appointhead {
    display: flex;
    justify-content: space-between;
    flex: 1;

    span,
    .addicon {
      letter-spacing: 1px;
      color: rgb(0, 134, 187);
      font-weight: 500;
    }
    .addicon {
      &:hover {
        cursor: pointer;
      }
    }
  }

  hr {
    display: flex;
    flex: 1;
    width: 100%;
    border: 0.2px solid rgb(214, 214, 214);
  }

  .appointbody {
    display: flex;
    width: 50vh;

    .appointEntry {
      display: flex;
      height: 7vh;
      width: 50vh;

      .appointNameDate {
        display: flex;
        margin-left: 10px;
        font-size: 13px;
      }
      .appointAddress {
        display: flex;
        margin-left: 10px;
        font-size: 13px;
        font-weight: 500;
      }
    }
  }
}
