.appointments {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 3vh;

  .appointhead {
    display: flex;
    justify-content: space-between;
    flex: 1;
    align-items: center;

    span,
    .addicon {
      letter-spacing: 1px;
      color: rgb(0, 134, 187);
      font-weight: 500;
    }
    .addicon {
      height: 75%;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .topBar {
    display: flex;
    flex: 1;
    width: 99%;
    margin-top: 2vh;
  }

  .appointbody {
    display: flex;
    flex-direction: column;

    .appointEntry {
      display: flex;
      align-items: center;

      .dataText {
        display: flex;
        flex: 1;
        flex-direction: column;
      }

      .appointNameDate,
      .appointAddress {
        margin-left: 3vh;
        font-size: 14px;
      }
      .appointAddress {
        font-weight: 500;
      }
      .accountIcon {
        display: flex;
        font-size: 40px;
      }
    }

    .dataBreak {
      display: flex;
      flex: 1;
      width: 100%;
      color: rgb(214, 214, 214);
      border-style: dashed;
      margin-left: -1vh;
    }
  }
}
