.home {
    flex: 1;
    display: flex;

    .homeContainer{
        display: flex;
        flex: 1;
        height: 80px;

        .widgets{
            display: flex;
            flex: 1;
            gap: 20px;
            height: 70vh;

            .breaker {
                display: flex;
            }
        }
    }
}