.sidebar {
  flex: 1;

  .top {
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      cursor: pointer;
      margin: auto;
      width: 80px;
    }
  }

  .centre {
    width: 160px;
    ul {
      width: 160px;
      padding-left: 0;
      display: flex;
      flex: 1;
      flex-direction: column;

      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: rgb(65, 88, 90);
      }
      li {
        width: 160px;
        display: flex;
        list-style-type: none;
        align-items: center;
        padding: 15px;
        cursor: pointer;

        &:hover {
          background-color: rgb(215, 254, 255);
        }

        span {
          font-size: 14px;
          font-weight: 400;
          margin-left: 20px;
        }
      }
    }
  }
}
