/*
Blue: #1976d2
*/

.new {
  flex: 1;
  display: flex;

  .newContainer {
    height: 80px;

    .bodyContainer {
      display: flex;
      padding: 20px;
      gap: 20px;

      .topbar {
        position: absolute;
        width: 110vh;
        display: flex;
        justify-content: space-between;

        span {
          display: flex;
          margin-left: -106vh;
          letter-spacing: 1px;
          color: rgb(0, 134, 187);
          font-weight: 500;
        }
      }

      .recordsbody {
        display: flex;
        flex-direction: column;
        margin-top: 80px;

        .textArea {
          min-width: 70vh;
          min-height: 20vh;
        }

        .formField {
          margin-top: 2vh;
          height: 40vh;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }

        .firstInput,
        .secondInput,
        .thirdInput,
        .fourthInput,
        .fifthInput {
          display: flex;
          justify-content: space-evenly;
        }

        ::-webkit-input-placeholder {
          font-style: italic;
       }

        .tabList {
          display: flex;
          justify-items: space-around;
          width: 50vh;
        }

        label {
          display: flex;
          margin-bottom: 10px;

          input,
          select {
            font-size: 14px;
            font-weight: 400;
            outline: none;
            border-top: none;
            border-left: none;
            border-right: none;
            border-width: 1px;
            margin-left: 15px;
            width: 40vh;
          }
          input:focus {
            border-color: #1976d2;
            border-width: 2px;
          }

          select {
            &:hover {
              cursor: pointer;
            }
            option {
              &:hover {
                cursor: pointer;
              }
            }
          }
        }
        .addDiv {
          display: flex;
          justify-content: space-around;

          .addParticipant {
            display: flex;
            justify-content: center;
            margin-top: 5vh;
            width: 11vh;
            height: 4vh;
            border-radius: 5%;
            align-items: center;

            background-color: #1976d2;
            font-weight: 700;
            border: none;
            color: white;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }

      hr {
        display: flex;
        position: absolute;
        width: 100%;
        margin-top: 40px;
        margin-left: -20.6px;
        border: 0.2px solid rgb(214, 214, 214);
      }
    }
  }
}
