/*
Blue: #1976d2
*/

.newParticipant {
  flex: 1;
  display: flex;
  margin-left: -20px;
  margin-top: -20px;

  .newContainer {
    display: flex;
    flex: 1;
    height: 80px;

    .bodyContainer {
      display: flex;
      flex: 1;
      padding: 20px;
      gap: 20px;
      flex-direction: column;

      hr {
        width: 100%;
      }

      span {
        display: flex;
        flex: 1;
        letter-spacing: 1px;
        color: rgb(0, 134, 187);
        font-weight: 500;
      }

      .topbar {
        display: flex;
        width: 100%;
        flex: 1;
        margin-bottom: -1vh;
      }

      .recordsbody {
        display: flex;
        flex: 1;
        justify-content: space-around;

        .tabPanel {
          height: 50vh;
        }

        .textArea {
          min-width: 70vh;
          min-height: 20vh;
        }

        .formField {
          margin-top: 2vh;
          height: 40vh;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }

        .firstInput,
        .secondInput,
        .thirdInput,
        .fourthInput,
        .fifthInput {
          display: flex;
          justify-content: space-evenly;
        }

        ::-webkit-input-placeholder {
          font-style: italic;
        }

        .tabList {
          display: flex;
          justify-items: space-around;
          width: 50vh;
          flex: 1;
        }

        label {
          display: flex;
          margin-bottom: 10px;

          input,
          select {
            font-size: 14px;
            font-weight: 400;
            outline: none;
            border-top: none;
            border-left: none;
            border-right: none;
            border-width: 1px;
            margin-left: 15px;
            width: 40vh;
          }
          input:focus {
            border-color: #1976d2;
            border-width: 2px;
          }

          select {
            &:hover {
              cursor: pointer;
            }
            option {
              &:hover {
                cursor: pointer;
              }
            }
          }
        }
        .addDiv {
          display: flex;
          justify-content: space-around;
          padding: 3vh;
          flex-shrink: 3;

          .addParticipant,
          .nextField {
            display: flex;
            justify-content: center;
            margin: 6vh;
            width: 11vh;
            height: 4vh;
            border-radius: 5%;
            align-items: center;

            background-color: #1976d2;
            font-weight: 700;
            border: none;
            color: white;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
